<?xml version="1.0"?>
<model>
  <name>Knee jerk experiment for Opensim-Gazebo NRP tutorial</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  <author>
    <name>Shravan Tata Ramalingasetty</name>
    <email>shravan.tataramalingasetty@epfl.ch</email>
  </author>
  <description>
    Model of thigh and shank to simulate knee jerk reflex. Tutorial for opensim-gazebo-nrp integration. 
  </description>

  <documentation>
      <actuators>
        <actuator name="knee" type="motor" />
      </actuators>
  </documentation>
</model>
